/*HEADER*/
.topheader {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(106, 202, 152);
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
}

.menu-horizontal li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu-horizontal li a:hover {
    color: rgb(9, 0, 177);
}

.menu-vertical {
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(239, 236, 236);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

/*section.video*/
.highlight {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.highlight img {
    width: 100%;
    border-radius: 10px;
}

.highlight-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.news {
    background-color: #ccc;
}

.news h3 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.news-grid {
    margin: 50px;
    display: flex;
    gap: 70px;
}

.news-grid article {
    width: 30%;
    text-align: center;
}

.news-grid img {
    border-radius: 10px;
    text-align: center;
}

/*Formulario inscripcion*/
.Inscripcion-Section {
    background-color: rgb(15, 15, 15);
    padding: 40px 20px;
    margin-top: 20px;
}

.Container-Inscripcion {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(106, 202, 152);
    padding: 20px;
    border-radius: 40px;
}

form fieldset {
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px;
}

form legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

form ul {
    list-style: none;
    padding-left: 0;
}

form li {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    width: 120px;
    display: inline-block;
}

form input[type="text"],
form select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

form input[type="radio"] {
    margin-left: 10px;
}

form .btn-frm-insc {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1rem;
}

form .btn-frm-insc:hover {
    background-color: rgb(0, 60, 255);
    color: azure;
}

form fieldset p {
    text-align: center;
}

/*PIE*/
.footer-section {
    background-color: rgb(106, 202, 152);
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-column {
    width: 20%;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.footer-column ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-line {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    margin-left: 30px;
    padding: 5px;
    border-color: black;
    width: 400px;
}

.search-bar button {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
